doctype  html
html
  head
    title welcome to club
    block scripts 
    
    block style 
       

  body
    nav.navbar  
        ul    
             div#logo 
                img(src="../static/img/logoDance.png", alt="logo loading error") 
                h4 Lucky Dance 
             li #[a( href ="/") Home ]
             li #[a( href ="/") About us]
             li #[a( href ="/") Our services]
             li #[a( href ="/contect") Contect us   ]
    block content
    footer#footer
       p Copyright (c) amanullahkhankingas@gmail.com  | All Right Reserves


    //-  block foot
    //-   #footer
    //-     p some footer content              

                 
   
  