doctype  html
html 
  head 
    title welcome to club
    style 
       include ../static/style.css
      
  body 
    nav.navbar  
        ul    
             div#logo 
                img(src="../static/img/logoDance.png", alt="logo loading error") 
                h4 Lucky Dance 
             li #[a( href ="/") Home ]
             li #[a( href ="/") About us]
             li #[a( href ="/") Our services]
             li #[a( href ="/") Contect us   ]

    section#introSection 
         h1  section for picture 

    section#Ourmission 
         h1 Our Mission    
         

         div.cards
            h3  Dance Perfection
            
            div.card-box
             
               div.card-img
                   img(src="../static/img/dance3.png", alt="dance3 image")
               div.card-content  
                    p Our accademy provide it best


         div.cards
             h3 Dance the way you like
            
             div.card-box

               div.card-img
                   img(src="../static/img/dance2.png", alt="dance2 image")
               div.card-content  
                    p our hope is ,When first you came here then you will never wanna to go from here 

          

         div.cards
             h3 Expert teaching

             div.card-box

               div.card-img
                   img(src="../static/img/dance1.png", alt="dance2 image")
               div.card-content  
                    p our hope is ,When first you came here then you will never wanna to go from here 

            


        
    section#SponsorsSection 
         h1 section for sponsors 
         div.clients 
             img(src="../static/img/logo1.png", alt=" client logo can not loaded")    
             img(src="../static/img/logo3.png", alt=" client logo can not loaded")    
             img(src="../static/img/logo2.png", alt=" client logo can not loaded")    
             img(src="../static/img/logo4.png", alt=" client logo can not loaded")  
    footer#footer
         p Copyright (c) amanullahkhankingas@gmail.com  | All Rite Reserves
                  

    script 
       include  ../static/java.js